body{
    background-image: url(/img/fondo.jpg);
}

h1{
    text-align: center;
    font-style: oblique;
    color: red;
}

h2{
    font-style: initial;
    color: green;
}

p{
    font-style: italic;
    color:blue;
}